body {
  color: #666;
  background-color: #eee;
}

h1 { font-size: 13em; }
h2 { font-size: 2em; }
h1, h2 { text-transform: uppercase; }
h3 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.threedee {
  color:#fff;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  margin-bottom:0;
}

.embossed {
  color: #fff;
  text-shadow: 0 -2px 0 #ccc,
               0 -1px 5px #c9c9c9;
}

.content h4 {
  text-transform: uppercase;
}

.content ol,
.content ul {
  padding-left: 1.2em;
  margin-bottom: 1.2em;
}

.dice {
  margin-top: -.48em;
  margin-bottom: -.2em;
  font-size: 6em;
  text-align: center;
}

footer {
  margin-top: 4em;
  margin-bottom: 2em;
}

footer .disclaimer {
  margin-bottom: 2em;
}

footer small a {
  font-weight: bold;
}

footer a {
  color: inherit;
  text-decoration: inherit;
  transition-duration: 1s;
}

footer a:hover {
  color: inherit;
  opacity: .6;
  text-decoration: inherit;
}
